<div id="messages">
  <%= render @chat.messages %>
</div>

<div id="chat_footer">
  <%= form_for([@chat, @message], remote: true) do |form| %>
    <%= form.text_field :body, placeholder: "Type your message here..." %>
  <% end %>
</div>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
  var channel = pusher.subscribe('chatr_channel_<%= @chat.id %>');
  channel.bind('new_message', appendMessage);

  function appendMessage(data) {
    var messages = $("#messages");

    var insert_div = '<div class="message" id="message_' + data.id + '"><span class="user">' + data.user + ': </span><span class="body">' + data.body + '</span> <span class="time">(' + data.time + ')</span></div>';

    messages.append(insert_div);

    $('html, body').animate({scrollTop:$(document).height()}, 'slow');
  }
</script>
