<h1><%= @chat.title %></h1>

<div id="messages">
  <ul>
    <%= render @chat.messages %>
  </ul>
</div>

<%= form_for [@chat, @message] do |form| %>
  <%= form.text_field :body %>
  <%= form.submit "Send" %>
<% end %>

